.clear{
	clear      : both;
	overflow   : hidden;
	width      : 0 !important;
	height     : 0 !important;
	min-height : 0 !important;
	min-width  : 0 !important;
	border     : 0 none !important;
	float      : none !important;
}

html, body {
	direction: rtl;
}

.container{
	position: relative;
}

.back-img{
	position           : absolute;
	top                : 0;
	left               : 0;
	right              : 0;
	bottom             : 0;
	background-image   : url('images/Home-Page.jpg');
	background-size    : cover;
	z-index            : -2;
	background-repeat  : no-repeat;
}

.content-container{
	
}

footer.footer-container {
	position         : absolute;
	left             : 0;
	bottom           : 0;
	right            : 0;
	min-height       : 70px;
	background-image : url('images/footer.png');
	z-index          : 1;
	padding: 15px 0;
}

footer section.footer-content{
	position : absolute;
	left     : 20px;
	right    : 20px;
}

section.footer-content nav {
	float: right;
}

section.footer-content nav menu.main {

}

section.footer-content nav menu.main li {
	float: right;
	margin-left: 10px;
	text-align: center !important;
	display: block;
}

nav menu.main li a {
	padding            :23px 3px 0 3px;
	text-decoration    : none;
	color              :#aaa;
	text-align         : center !important;
	display            : block;
	background-image   : url('images/polygan.png');
	background-repeat  : no-repeat;
	background-position: top center;
	background-size: 15px 12px;
	font-size: 14px;
}
