.clear{
	clear      : both;
	overflow   : hidden;
	width      : 0 !important;
	height     : 0 !important;
	min-height : 0 !important;
	min-width  : 0 !important;
	border     : 0 none !important;
	float      : none !important;
}

.container{
	position: relative;
}

.back-img{
	position           : absolute;
	top                : 0;
	left               : 0;
	right              : 0;
	bottom             : 0;
	background-image   : url('images/Home-Page.jpg');
	background-size    : cover;
	z-index            : -2;
	background-repeat  : no-repeat;
}

.content-container{
	position: absolute;
	
}
